<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.teach.mapper.FalldownDeviceMapper">

    <resultMap id="BaseResultMap" type="com.ruoyi.teach.domain.entity.FalldownDevice">
            <id property="id" column="Id" />
            <result property="deviceCode" column="DeviceCode" />
            <result property="status" column="Status" />
            <result property="model" column="Model" />
            <result property="contactPhones" column="ContactPhones" />
            <result property="phone" column="Phone" />
            <result property="flag" column="Flag" />
            <result property="createBy" column="CreateBy" />
            <result property="updateBy" column="UpdateBy" />
            <result property="remark" column="Remark" />
            <result property="createTime" column="CreateTime" />
            <result property="updateTime" column="UpdateTime" />
            <result property="deleteTime" column="DeleteTime" />
    </resultMap>

    <sql id="Base_Column_List">
        Id,DeviceCode,Status,Model,ContactPhones,Phone,
        Flag,CreateBy,UpdateBy,Remark,CreateTime,
        UpdateTime,DeleteTime
    </sql>

    <select id="findByConditions" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List"/>
        FROM
            falldown_device
        <where>
            <if test="deviceCode != null and deviceCode != ''">
                <bind name="codePattern" value="'%' + deviceCode + '%'" />
                AND DeviceCode LIKE #{codePattern}
            </if>
            <if test="model != null and model != ''">
                <bind name="modelPattern" value="'%' + model + '%'" />
                AND Model LIKE #{modelPattern}
            </if>
            <if test="status != null and status != ''">
                AND Status = #{status}
            </if>
        </where>
        ORDER BY id DESC
    </select>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List"/>
        FROM
            falldown_device
        WHERE Id = #{id}
    </select>

    <insert id="insert" parameterType="com.ruoyi.teach.domain.entity.FalldownDevice" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO falldown_device
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deviceCode != null">DeviceCode,</if>
            <if test="status != null">Status,</if>
            <if test="model != null">Model,</if>
            <if test="contactPhones != null">ContactPhones,</if>
            <if test="phone != null">Phone,</if>
            <if test="flag != null">Flag,</if>
            <if test="createBy != null">CreateBy,</if>
            <if test="updateBy != null">UpdateBy,</if>
            <if test="remark != null">Remark,</if>
            <if test="createTime != null">CreateTime,</if>
            <if test="updateTime != null">UpdateTime,</if>
            <if test="deleteTime != null">DeleteTime,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="deviceCode != null">#{deviceCode},</if>
            <if test="status != null">#{status},</if>
            <if test="model != null">#{model},</if>
            <if test="contactPhones != null">#{contactPhones},</if>
            <if test="phone != null">#{phone},</if>
            <if test="flag != null">#{flag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="deleteTime != null">#{deleteTime},</if>
        </trim>
    </insert>

    <update id="update" parameterType="com.ruoyi.teach.domain.entity.FalldownDevice">
        UPDATE falldown_device
        <trim prefix="SET" suffixOverrides=",">
            <if test="deviceCode != null">DeviceCode = #{deviceCode},</if>
            <if test="status != null">Status = #{status},</if>
            <if test="model != null">Model = #{model},</if>
            <if test="contactPhones != null">ContactPhones = #{contactPhones},</if>
            <if test="phone != null">Phone = #{phone},</if>
            <if test="flag != null">Flag = #{flag},</if>
            <if test="createBy != null">CreateBy = #{createBy},</if>
            <if test="updateBy != null">UpdateBy = #{updateBy},</if>
            <if test="remark != null">Remark = #{remark},</if>
            <if test="createTime != null">CreateTime = #{createTime},</if>
            <if test="updateTime != null">UpdateTime = #{updateTime},</if>
            <if test="deleteTime != null">DeleteTime = #{deleteTime},</if>
        </trim>
        WHERE Id = #{id}
    </update>

    <delete id="deleteByIds">
        DELETE FROM falldown_device
        WHERE Id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
